#AudioSection article {
  height: auto;
  margin: 10px auto;
  width: 100%;
}

#AudioSection article form {
  display: flex;
  padding: 10px 0;
  flex-wrap: wrap;
  justify-content: space-between;
}
#AudioSection article form div {
  flex-basis: 22%;
  margin: 10px 0;
}
#AudioSection article form div.audio_details,
#AudioSection article form div.btn-block {
  flex-basis: 100%;
  margin-top: 10px;
  display: block;
  padding: 30px 0;
}

#AudioSection article form div input,
#AudioSection article form select,
#AudioSection article form div textarea {
  width: 100%;
  background-color: transparent;
  border: 1px solid black;
  padding: 10px;
  color: #757575;
}
#AudioSection label {
  font-weight: bold;
  color: white;
  display: block;
  padding: 10px 0;
}
#AudioSection h2 {
  color: white;
  text-transform: capitalize;
  font-size: 20px;
  padding: 10px 0;
  margin-top: 20px;
  border-bottom: 1px solid #99999940;
}
#musicHome article {
  display: flex;
  margin: 10px auto;
  padding: 10px;
  align-items: flex-start;
}
#musicHome article > div.col-3 {
  flex-basis: 24%;
  margin: 5px;
  border: 1px solid #444;
}
#musicHome article > div.col-3 figure {
  width: 100%;
}
#musicHome article > div.col-3 figure img {
  width: 100%;
  height: 200px;
}
#musicHome article > div.col-3 h2 {
  color: white;
  padding: 10px 5px;
}
/*  */

.audioPlayer {
  fill: black;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.audioPlayer img {
  width: 100px;
  height: 130px;
  border-radius: 100%;
  position: absolute;
  top: -100px;
  right: 9px;
  animation: rotation 10s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.contentBlock audio {
  width: 97%;
  margin: 0 auto;
  left: 24px;
  position: relative;
  filter: invert(1);
  border: 2px solid #99999975;
  border-radius: 5px;
  padding: 10px;
}

.contentBlock header {
  color: #fff;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 8px 24px;
  text-transform: capitalize;
}

.contentBlock header h2 {
  display: flex;
  justify-content: flex-start;
  flex-basis: 50%;
}

.contentBlock header p {
  display: flex;
  justify-content: flex-end;
  flex-basis: 50%;
}
